*.parquet filter=lfs diff=lfs merge=lfs -text
data/**/*.parquet filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=nbstripout
*.zpln filter=nbstripout
*.ipynb diff=ipynb
data/Arabic_Reviews_of_SHEIN/train-00000-of-00001.parquet filter=lfs diff=lfs merge=lfs -text
